[Unit]
Description=disk-watcher
Documentation=https://github.com/eamonnsullivan/disk-watcher-mqtt
After=network-online.target

[Service]
User=pi
Type=notify
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/bin/python3 /home/pi/disk-watcher-mqtt/disk-watcher.py
WorkingDirectory=/home/pi/disk-watcher
Restart=always
RestartSec=15
WatchdogSec=10

[Install]
WantedBy=multi-user.target
