[Unit]
Description=disk-watcher
Documentation=https://github.com/eamonnsullivan/disk-watcher-mqtt
After=network-online.target

[Service]
User=eamonn
Type=notify
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/bin/python3 /home/eamonn/git/disk-watcher-mqtt/disk-watcher.py
WorkingDirectory=/home/eamonn/git/disk-watcher-mqtt
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
